{% extends "base.html" %}

{% block title %} {{ block.super }} Tweets {% endblock title %}

{% block script %}
  <script type="text/javascript">

    $(document).ready(function(){
      // loads the tweets list

      loadTweetContainer("tweet-container");
    });

  </script>

{% endblock script %}


{% block content %}

<div class='row'>
  <div class='col-sm-3 col-xs-12' style='background-color:grey;'>
    <h1>{{ request.user }}</h1>
  </div>
  <div class='col-sm-9 '>
    {% if not request.GET.q %}
      <div>
        {% include "tweets/form.html" with form=create_form action_url=create_url btn_title='Tweet' form_class='tweet-form' %}
      </div>
      <hr/>
    {% endif %}

    <div id='tweet-container' data-url='/api/tweets/'>
    </div>

    <!--loading more tweets-->
    <a href="" id='load-more'>
      Load more tweets
    </a>

  </div>
</div>


{% endblock content %}
