{% extends "base.html" %}

{% block title %} {{ block.super }} Details {% endblock title %}

{% block script %}
  <script type="text/javascript">

    $(document).ready(function(){
      // loads the tweets list

      loadTweetContainer("tweet-container", {{ object.id }});
    });

  </script>

{% endblock script %}

{% block content %}
<div class='row'>
    <div class='col-sm-3 col-xs-12' style='background-color:grey;'>
        <h1>{{ object.user }} </h1>
    </div>
    <div class='col-sm-9 col-xs-12'>
         <div id="tweet-container">

         </div>
    </div>

</div>

{% endblock content %}
