{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}Twitter Clone  | {% endblock title %}</title>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <style>
      .red-color {
        color: red;
      }
      .grey-color {
        color: #ccc;
      }
      .media-focus {
        background-color: #e8a2a2;
      }
    </style>

  </head>
  <body>
    {% include 'navbar.html' %}

    <div class="container">
      {% block content %}
      {% endblock content %}
    </div>

    {% include 'reply-modal.html' %}


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script type="text/javascript">

      function getParameterByName(name, url) {
        /**
        a stackoverflow thread that shows how to
        handle the query search parameter in our ajax
        call function
        **/
        if (!url) {
          url = window.location.href;
        }
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
      }

      function loadTweetContainer(tweetContainerID, fetchOneId){
        // dynamically load tweets everywhere

        var query = getParameterByName('q');
        var tweetList = [];
        var nextTweetUrl;  // to be used for ajax loading tweets
        var tweetContainer;
        // making the tweet container dynamic
        if (tweetContainerID){
          // container part
          tweetContainer = $('#' + tweetContainerID);
        } else {
          tweetContainer = $("#tweet-container");
        }
        // url part
        var initialURL = tweetContainer.attr('data-url') || 'api/tweets/';

        // ajax like button
        $(document.body).on('click', '.tweet-like', function(e){
          e.preventDefault();
          var this_ = $(this);
          var tweetId = this_.attr('data-id');
          var likedUrl  = '/api/tweets/' + tweetId + '/like/';

          $.ajax({
              mathod: 'GET',
              url: likedUrl,
              success: function(data){
                if (data.liked) {
                  this_.text('Liked');
                } else {
                  this_.text('Unliked');
                }
              },
              error: function(data){
                console.log('error');
                console.log(data);
            },
          }) // end of ajax
        });

        // ajax reply to tweets
        $(document.body).on('click', '.tweet-reply', function(e){
          e.preventDefault();
          var this_ = $(this);
          var parentId = this_.attr('data-id');
          var username = this_.attr('data-user');
          var content = this_.parent().parent().find('.content').text();
          // calling an empty modal reply form
          $('#replyModal').modal({});
          $('#replyModal textarea').after("<input type='hidden' value='" + parentId + "' name='parent_id'>");
          $('#replyModal textarea').after("<input type='hidden' value='" + true + "' name='reply'>");
          $('#replyModal textarea').val('@' + username + " ");
          // dynamic title of parent tweet
          $('#replyModal #replyModalLabel').text('Reply to: ' + content);
          $('#replyModal').on('shown.bs.modal', function(){
            // start typing in the textarea immediatly
            $('textarea').focus();
          });
        });

        // ajax retweet
        $(document.body).on('click', '.retweetBtn', function(e){
          /**
          the syntax of the click event has been
          changed to resovle the page reload issue
          **/
          e.preventDefault();
          var url = '/api' + $(this).attr('href');

          $.ajax({
            mathod: 'GET',
            url: url,
            success: function(data){
              console.log(data);
              if (initialURL == '/api/tweets/') {
                /**
                attaches the new tweet and
                allow retweets, but on the feed page only
                **/
                attachTweet(data, true, true);
                updateHashLinks();
              }
            },
            error: function(data){
              console.log('error');
              console.log(data);
          },
        }) // end of ajax
        });

        function updateHashLinks(){
          // creating a tag link from our tweet hashtags
          $(".content").each(function(data){
            var hashtagRegex = /(^|\s)#([\w\d-]+)/g;
            var userNameRegex = /(^|\s)@([\w\d-]+)/g;
            var currentHtml = $(this).html();
            var newText;
            newText = currentHtml.replace(hashtagRegex, "$1<a href='/tags/$2/'>#$2</a>");
            newText = newText.replace(userNameRegex, "$1 @<a href='/$2/'>$2</a>");
            $(this).html(newText);
          })
        }

        function formatTweet(tweetValue){
          // tweets list formatting function
          var preContent;
          var container;
          var tweetContent;
          var isReply = tweetValue.reply;


          // linking replies to their parent tweet
          var replyId = tweetValue.id;
          if (tweetValue.parent){
            replyId = tweetValue.parent.id;
          };

          // highlighting the selected tweet
          var openingContainerDiv = "<div class=\"media\">";
          if (tweetValue.id == fetchOneId){
            openingContainerDiv = "<div class=\"media media-focus\">";
            setTimeout(function(){
              $('.media-focus').css('background-color', 'white')
            }, 2000);
          };

          if (tweetValue.parent && !isReply){
            // only for retweeted tweets
            tweetValue = tweetValue.parent;
            preContent = "<span class='grey-color'>Retweet via "
            + tweetValue.user.username +" on "
            + tweetValue.date_display + "</span><br/>";
          } else if (tweetValue.parent && isReply) {
            preContent = "<span class='grey-color'>Reply to @"
            + tweetValue.parent.user.username + "</span><br/>";
          }

          // dynamic verb for the like button
          var verb = 'Like';
          if (tweetValue.did_like){
            verb = 'Unlike';
          }

          // formatting tweets list for feeds and detail pages
          tweetContent = "<span class='content'>" + tweetValue.content + "</span><br/> via <a href='"
          + tweetValue.user.url + "'>" + tweetValue.user.username
          + "</a> | " + tweetValue.date_display + " | "
          + "<a href='/tweets/" + tweetValue.id + "'>View</a> | "
          + "<a class='retweetBtn' href='/tweets/" + tweetValue.id
          + "/retweet/'>Retweet</a>"
          + " | <a href='#' class='tweet-like' data-id='"
          + tweetValue.id + "''>" + verb + " (" + tweetValue.likes + ")</a>"
          + " | <a href='#' class='tweet-reply' data-user='" + tweetValue.user.username + "' data-id='"
          + replyId + "''>Reply</a>";

          if (preContent){
            container = openingContainerDiv + "<div class=\"media-body\">"
            + preContent + tweetContent + "</div></div><hr>";
          } else {
            container = openingContainerDiv + "<div class=\"media-body\">"
            + tweetContent + "</div></div><hr>";
          }

          return container

        };

        function attachTweet(tweetValue, prepend, retweet){
            tweetFormattedHtml = formatTweet(tweetValue);

            if (prepend==true){
              tweetContainer.prepend(tweetFormattedHtml);
            } else {
              tweetContainer.append(tweetFormattedHtml);
           }
        };

        function parseTweets(){
          if (tweetList == 0) {
            tweetContainer.text("No tweets currently found.");
          } else {
            // tweets exist, parse & display them
           $.each(tweetList, function(key, value){
             if (value.parent) {
               attachTweet(value, false, true);
             } else {
               attachTweet(value);
             }

            })
          }
        }

        /**
        making an ajax call every time the page is loaded
        or a new tweet is submitted
        **/
        function fetchTweets(url){
          var fetchUrl;
          if (!url) {
            fetchUrl = initialURL;
          } else {
            fetchUrl = url;
          }
          $.ajax({
            url: fetchUrl,
            data: {
              'q': query // gets appended to the above url
            },
            method: 'GET',
            success: function(data){
              tweetList = data.results;
              if (data.next) {
                nextTweetUrl = data.next;
              } else {
                $('#load-more').css('display', 'none');
              }
              parseTweets();
              updateHashLinks();
            },
            error: function(data){
              console.log('error');
              console.log(data);
            }
          });
        }

        // fetching single tweets
        function fetchSingle(fetchOneId){
          var fecthDetailUrl = '/api/tweets/' + fetchOneId + '/';
          $.ajax({
            url: fecthDetailUrl,
            method: "GET",
            success: function(data){
               console.log(data);
               tweetList = data.results;
              // if (data.next) {
              //   nextTweetUrl = data.next;
              // } else {
              //   $('#load-more').css('display', 'none');
              // }
              parseTweets();
              updateHashLinks();
            },
            error: function(data){
              console.log('error');
              console.log(data);
            }
          });
        }

        if (fetchOneId){
          fetchSingle(fetchOneId);
        } else {
          fetchTweets();
        }

        $('#load-more').click(function(event){
          event.preventDefault();
          // load more data
          if (nextTweetUrl) {
            fetchTweets(nextTweetUrl);
          }

        })

        // counting the number of characters
        var charsStart = 140;
        var charsCurrent = 0;
        $('.tweet-form').append("<span class='tweetCharsLeft' style='margin-left: 20px;'>" + charsStart + "</span>")

        $('.tweet-form textarea').keyup(function(event){
          /**
          the built up keyup function monitors
          the typing inside the textarea of our form
          **/
          var tweetValue = $(this).val(); // grabs what is inside the textarea
          charsCurrent = charsStart - tweetValue.length;
          var spanChars = $(this).parent().parent().parent().find('span.tweetCharsLeft');
          spanChars.text(charsCurrent); // updates the current chars num

          if (charsCurrent > 0 ) {
             // remove classes
             spanChars.removeClass("grey-color")
             spanChars.removeClass("red-color")
          } else if (charsCurrent == 0) {
             // add grey class
             spanChars.removeClass("red-color")
             spanChars.addClass("grey-color")
          } else if (charsCurrent < 0) {
              // add red class
              spanChars.removeClass("grey-color")
              spanChars.addClass("red-color")
          }

        })

        // ajax form tweet submission
        $('.tweet-form').submit(function(event){
          event.preventDefault();
          var this_ = $(this)
          var formData = this_.serialize();  // outputs json data

          if (charsCurrent >= 0) {
            $.ajax({
              url: '/api/tweets/create/',
              data: formData,
              method: 'POST',
              success: function(data){
                attachTweet(data, true); // attaches the new tweet
                // empty the form after sumbission
                this_.find('input[type=text], textarea').val('');
                updateHashLinks();
                // close reply modal after submission
                $('#replyModal').modal('hide');
              },
              error: function(data){
                console.log('error');
              }
            });
          } else {
            console.log('Tweet exceeds 140 characters!')
          }

        });
      }

    </script>

    {% block script %}{% endblock script %}

    <!--Autosearch function-->
    <script type="text/javascript">
      $(document).ready(function(){
        var typingTimer;
        var doneInterval = 650;
        var searchInput = $('#navbar-search-form input[type=text]');
        var searchQuery;

        searchInput.keyup(function(event){
          // executes when releasing the key
          searchQuery = $(this).val();

          clearTimeout(typingTimer);
          typingTimer = setTimeout(doneSearchTyping, doneInterval);
        });

        searchInput.keydown(function(event){
          // executes when pressing the key
          clearTimeout(typingTimer);
        });

        function doneSearchTyping(){
          if (searchQuery) {
            // do search
            var url = '/search/?q=' + searchQuery;
            document.location.href = url;
          }
        }

      });
    </script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src={% static 'js/bootstrap.min.js' %}></script>
    <!-- Latest compiled and minified JavaScript -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
  </body>
</html>
