{% extends "base.html" %}

{% block title %} {{ block.super }} User Profile {% endblock title %}

{% block script %}

<script type="text/javascript">

  $(document).ready(function(){
    // loads the tweets list

    loadTweetContainer("tweet-container");
  });

</script>

{% endblock script %}

{% block content %}
<div class='row'>
    <div class='col-sm-3 col-xs-12' style='background-color:grey;'>
        <h1>{{ object.username }} </h1>
        <hr>
        <p>Followers: {{ object.followed_by.count }}</p>
        <p>
          <a class="btn btn-default" href="{{ object.profile.get_follow_url }}">
            {% if following %}Unfollow{% else %}Follow{% endif %}
          </a>
        </p>

        <hr>
        <h2>Following ({{ object.profile.get_following.count }})</h2>
        {% for user in object.profile.get_following %}
          <a href="/{{ user.username }}">{{ user.username }}</a><br/>
          {% empty %}
          <h4>Not following any users</h4>
        {% endfor %}

        <hr>
        <h2>Followed by:</h2>
        {% for profile in object.followed_by.all %}
          <a href="/{{ profile.user.username }}">{{ profile.user.username }}</a><br/>
          {% empty %}
          <h4>Not followed by any users</h4>
        {% endfor %}

    </div>
    <div class='col-sm-9 col-xs-12'>
         <h1>Tweets</h1>
         <div id='tweet-container' data-url='/api/{{ object.username }}/tweets/'>
         </div>

         <!--loading more tweets-->
         <a href="" id='load-more'>
           Load more tweets
         </a>
    </div>

</div>

{% endblock content %}
